@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i&display=swap');

*{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 1.2rem;
}

html,
body{
    @apply h-screen;
}

body{
    background-color: #171819;
    color: #E9E9E9;
}

a{
    transition: .6s ease-in;
}

a:hover{
    color: #22c476;
    transition: .6s ease-out;
}

.icons{
    color: #22c476;
    transition: .7s ease-out;
}

.icons:hover{
    opacity: .4;
    transition: .7s ease-out;
}

.homeHr::before{
    background: linear-gradient(to right, rgba(12,69,41,1) 0%,rgba(23,133,79,1) 25%,rgba(29,171,102,1) 50%,rgba(34,196,118,1) 81%,rgba(36,209,125,1) 100%);
    display: block;
    width: calc(100% + 1.25rem);
    height: 2px;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform .6s;
    content: "";
}

#__next {
    @apply h-screen flex flex-col;
}

input[type=text], select, textarea{
    width: 100%; 
    padding: 15px;
    border-radius: 0; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    display: block;
    color: #171819;
}

input[type=submit] {
    width: 100%; 
    background-color: #22c476;
    color: #e9e9e9;
    padding: 12px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: .6s;
}

input[type=submit]:hover{
    opacity: .6;
    transition: .6s;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #e9e9e9;
    color: #e9e9e9;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #22c476;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #22c476;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

.workSection{
  height: 300vh;
  display: flex;
}

.workTitle{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.workImages{
  width: 50%;
}

.workImages div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}